<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/modules.css">
</head>

<body>
    <header>
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
        <div class="menu">
            <ul>
                <a href="#">
                    <li>Result</li>
                </a>
                <a href="#">
                    <li>Search</li>
                </a>
            </ul>
        </div>
    </header>
    <main>
        <section>
            <% booksData.forEach(val =>{ %>
            <div>
                <img src=" <%= val.img_url %> " alt="">
                <h2><%= val.title %></h2>
                <h4><%= val.author %></h4>
                <p><%= val.description %></p>
                <button class="hide-show">Select</button>

                    <form action="/addbook" method="post" class="hide">
                        <fieldset>
                            <input type="text" name='title' value="<%= val.title %>">
                            <input type="text" name='author' value="<%= val.author %>">
                            <input type="text" name='img_url' value="<%= val.img_url %>">
                            <textarea type="text" name='description' cols="40"
                                rows="20"><%= val.description %></textarea>
                            <input type="text" name="book shelf">
                            <button type="submit">Add To Database</button>
                        </fieldset>

                    </form>
            </div>
            <% }) %>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/functionality/app.js"></script>
</body>

</html>