<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/modules.css">
</head>

<body>
    <header>
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
        <div class="menu">
            <ul>
                <a href="/index">
                    <li>Result</li>
                </a>
                <a href="/search">
                    <li>Search</li>
                </a>
            </ul>
        </div>
    </header>
    <main>
        <section>
            <% theBook.forEach(val =>{ %>
            <div>
                <img src=" <%= val.img_url %> " alt="">
                <h2><%= val.title %></h2>
                <h4><%= val.author %></h4>
                <p><%= val.description %></p>
                <a href="/books/<%=val.id%>"><button>View In Details</button></a>
            </div>
            <%})%>
        </section>
    </main>

</body>

</html>